/*Google font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;

}

:root {
    --text-color: #000;
    --main-color: #AC8C65;
    --secondary-color: #C69F75;
}

section {
    padding: 50px 10%;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 100px;
    background: #edecea;

}

.logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
}

.logo span {
    color: var(--main-color);
}

/*navbar*/
.navbar {
    position: relative;
    display: flex;
}

.navbar a {
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
    color: var(--text-color);
}

.navbar a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

/*home*/
.home {
    width: 100%;
    min-height: 100vh;
    background-image: url(img/backgroung.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

.home-text h1 {
    font-size: 2.7rem;
}

.home-text p {
    font-size: 0.938rem;
    margin: 0.4rem 0 1.8rem;
}

.home-text span {
    color: var(--main-color);
}

.btn {
    padding: 10px 14px;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.3rem;
    font-size: 14px;
}

.btn:hover {
    background: var(--secondary-color);
}

.btn-text {
    font-size: 12px;
    color: var(--main-color);
}

.btn-text:hover {
    color: var(--secondary-color);
}

/*shop*/
.shop {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.heading {
    text-align: center;
    justify-content: center;
    margin: 1.8rem 0 3.6rem;
}

.heading span {
    color: var(--main-color);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.title-price {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.title-price h3 {
    font-size: 1rem;
    font-weight: 600;
}

.shop-container,
new-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.box {
    position: relative;
    box-shadow: 1px 4px 4px rgb(0, 0, 0, 0.1);
    border-radius: 44px 4px 4px 4px;
}

.box .box-img {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 44px 4px 0 0;
}

.box .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.box .box-img img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.box span {
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 12px;
    color: var(--main-color);
}

.star .bx {
    color: var(--main-color);
}

.box .bx-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 7px;
    font-size: 20px;
    color: #fff;
    border-radius: 4px 0 4px 0;
    background: var(--main-color);
}

.box .bx-cart:hover {
    background: var(--secondary-color);
}

.about .about-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 4rem;
    align-items: center;
}

.about-img img {
    width: 100%;
    border-radius: 4px;
    object-fit: contain;

}

.about-text span {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--main-color);
}

.about-text p {
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;
}

.brands-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
}

.brands-container img {
    width: 100px;
    filter: grayscale(1);
}

.brands-container img:hover {
    width: 100px;
    filter: grayscale(0);
    transition: 0.5s;
}

.events-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15hn0px, auto));
    align-items: center;
    justify-content: space-between;
    gap: 0rem;
    margin-top: 2rem;
}

.events-container img {
    width: 100%;
    filter: grayscale(1);
    object-fit: cover;
    object-position: center;
}

.events-container img:hover {
    filter: grayscale(0);
    transition: 0.5s;
}

.treatments {
    padding: 50px 0;
}

.treatments .treatments-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    margin-top: 1.5rem;
}

.treatments .treatments-container .treatments-box {
    position: relative;
    height: 420px;
    flex: 1 1 12rem;
    overflow: hidden;
}

.treatments .treatments-container .treatments-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
}

.treatments .treatments-container .treatments-box .text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
    padding-top: 8rem;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 1s ease;
    opacity: 0;
}

.treatments .treatments-container .treatments-box:hover .text {
    top: 0;
    opacity: 1;
}

.treatments-box .text h2 {
    font-size: 1.2rem;
    color: #fff;
}

.treatments-box .text p {
    margin: 1rem 0 2rem;
    color: #fff;
}

.review .slide{
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    position: relative;
}

.review .slide .bxs-quote-right{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 4rem;
    color: #ccc;
}

.review .slide .user{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.review .slide .user img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .slide .user h3{
    color: var(--black);
    font-size: 1.3rem;
    padding-bottom: .5rem;
}

.review .slide .user i{
    font-size: 1rem;
    color: var(--green);    
}

.review .slide p{
    color: var(--light-color);
    font-size: 0.938rem;;
    line-height: 1.8;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    padding: 50px 10%;
}

.newsletter h2 {
    color: var(--text-color);
}

.news-box {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.news-box input {
    width: 260px;
    height: 44px;
    border: none;
    outline: none;
    background: #fff;
    padding: 10px;
}

.news-box .btn {
    height: 44px;
    padding: 11px;
    border-radius: 0;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #000;
}

.order form{
    max-width: 60rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0, 0, 0, 0.2);
    background: #fff;
    padding: 2rem;
    margin: 0 auto;
    box-shadow: 1px 4px 4px rgb(0, 0, 0, 0.1);
}

.order form .inputbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.order form .inputbox .input{
    width: 48%;
}

.order form .inputbox .input span{
    display: block;
    padding: .5rem 0;
    font-size: 1rem;
    color: var(--light-color);
}

.order form .inputbox .input input,
.order form .inputbox .input textarea{
    background: #eee;
    background-repeat: 0.5rem;
    border: none;
    border-radius: 0.2rem;
    padding: .5rem;
    font-size: 0.938rem;
    color: var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width: 100%;   
}

.order form .inputbox .input textarea{
    height: 8rem;
    resize: none;
}

.order form .inputbox .btn{
    margin-top: 0;
    background: #1A1A1A;
    border: none;
    border-radius: 0.2rem;
    
}

.order form .inputbox .btn:hover{
    background: #2D2D2D;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1rem;
}

.footer-box h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-box span {
    color: var(--main-color);
}

.footer-box h3 {
    font-weight: 500;
    margin-bottom: 10px;
}

.footer-box p {
    font-size: 0.938rem;
    margin-bottom: 10px;
}



.footer-box li a {
    color: var(--text-color);
}

.footer-box li a:hover {
    color: var(--main-color);
}

.social {
    display: flex;
    align-items: center;
}

.social a {
    font-size: 24px;
    margin-right: 10px;
    color: var(--text-color);
}

.social a :hover {
    color: var(--main-color);
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-info span {
    color: var(--text-color);
}

.copyright {
    padding: 20px;
    text-align: center;
}

/*Making Responsive*/
@media (max-width: 991px) {
    header {
        padding: 18px 4%;
    }

    section {
        padding: 50px 4%;
    }

    .shop-container,
    new-container {
        grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    }

    .footer {
        grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    }

}

/*Making Responsive*/
@media (max-width: 991px) {
    header {
        padding: 18px 4%;
    }

    section {
        padding: 50px 4%;
    }

    .shop-container,
    new-container {
        grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    }

    .footer {
        grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    }

}

@media (max-width: 881px) {
    .home-text h1 {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 11px 4%;
    }

    #menu-icon {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgb(0, 0, 0, 0.1);
        transition: 0.2s ease;
        text-align: center;
    }

    .navbar a {
        padding: 1.5rem;
        display: block;
    }

    .navbar.active {
        top: 100%;
    }

    .navbar a:hover {
        color: #fff;
        background: var(--main-color);
    }

    .about .about-box {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-img {
        padding-top: 1rem;
        order: 2;
    }

}

@media (max-width: 491px) {
    .home-text h1 {
        font-size: 1.7rem;
    }

    .shop-container,
    new-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    }

    .box .box-img {
        height: 200px;
    }

    .news-box input {
        width: 180px;
    }

    .about-text h2 {
        font-size: 1.2rem;
    }
}